<div style="display: inline-block; width: 100%; color:darkblue" class="okolo">
Sajt ljubitelja knjiga <span class="razmak"> 
    <button (click)=pocetna()> Pocetna strana</button>&nbsp; &nbsp; &nbsp;
    <button (click)=odjavi()> Odjavi se</button>
    </span>
<hr/>
</div>

<div style="display: inline-block;
width: 100%;">
    <router-outlet></router-outlet>
    <hr/>
</div>


<footer style="display: inline-block;
width:100%;
text-align: center;"
class="foot">

    <i>
        Copyright © Ljubitelji knjiga 2020
        <br/>
        Kontak: ljubiteljiknjiga.podrska@gmail.com
        <br/>
        Telefon: 343/234-74
    </i>
</footer>
